*
!*/

!/setup.sh
!/packages/ideavim/.ideavimrc
!/packages/neovim/.config/nvim/init.lua
!/packages/neovim/.config/nvim/lua/keymaps.lua
!/packages/neovim/.config/nvim/lua/options.lua
!/packages/neovim/.config/nvim/lua/plugins.lua
!/packages/zsh/.zprofile
!/packages/zsh/.zshrc
!/scripts/brew.sh
!/scripts/Brewfile
!/scripts/font.sh
!/scripts/macos.sh
!/scripts/mise.sh
!/scripts/npm.sh
!/scripts/reboot.sh
!/scripts/rust.sh
!/scripts/symlink.sh
!/scripts/vscode.sh

!README.md
!.gitignore
